/* fonts  */
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");

:root {
  --color: #e74c3c;
  --border: 5px solid #e74c3c;
  --gray: #57606f;
  --bg: rgba(255, 255, 255, 0.3);
}

/* navbar section */
.my-navbar {
  border-bottom: var(--border);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--color);
  font-weight: bold;
  border-bottom: 5px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: var(--border);
}

.navbar .navbar-collapse {
  text-align: center;
}

.user-btn {
  color: var(--color);
}

/*footer*/
.footer {
  border-top: black;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}
