/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

:root {
    --color: #ff7f50;
    --border: 5px solid #ff7f50;
    --gray: #57606f;
    --bg: rgba(255, 255, 255, 0.3);
  }

  


.height{
    
    height:100vh;
}

.card{
    
    width:350px;
    height:370px;
}

.my-btn
{
	background-color: var(--color);
}

