/* universal setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --color: #ff7f50;
  --border: 5px solid #ff7f50;
  --gray: #57606f;
  --bg: rgba(255, 255, 255, 0.3);
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

/* navbar section */
.my-navbar {
  border-bottom: var(--border);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--color);
  font-weight: bold;
  border-bottom: 5px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: var(--border);
}

.navbar .navbar-collapse {
  text-align: center;
}

.user-btn {
  color: var(--color);
}

.dropdown-item {
  color: var(--color);
}

/* main content*/
/*search*/
.food-search {
  background-image: url(../img/ramen-bg-searchbar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10% 0;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid var(--color);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: var(--color);
}

.search button:hover {
  background: #57606f;
}

.box-3 {
  width: 100%;
  margin: 4% auto;
}

.img-curve {
  border-radius: 15px;
}

.container-img {
  padding: 4%;
}
.headline-container {
  justify-content: center;
}
.headline {
  color: var(--color);
}
.snippet {
  color: var(--color);
}

/*footer*/
.footer {
  border-top: black;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}