* {

}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}


/* navbar section */
.navbar-dark .navbar-nav .nav-link
{
    color : #ff7f50;
    font-weight: bold;
}

/* main content*/

/*footer*/